<%-include('./partials/header.ejs')%>
<% if(user){%> 
    <%-include('./partials/nav.ejs')%> 
<%}%>
<main class="container-fluid mx-auto">
  <div><%-include ('./partials/messages')%></div>
    
    <div class="container">
  
      <!--   Both Cards Wrapper -->
        <div class="d-lg-flex">
        <div class="d-flex card shadow card p-3 shadow my-2 col-xs-12 col-sm-10 col-lg-6">
      <!--     Start of Amount Figure -->
          <div class='d-xs-flex-row d-sm-flex'>
      <!--       income amount card -->
            <div class='card mx-1 flex-grow-1'>
              <div class='card-title text-center fw-bold bg-success text-light py-1'>Income</div>
              <span id="incomeAmount" class="d-none"><%=incomeTotal[0].totalIncome%></span>
              <div class="card-body text-success text-center p-1 fs-5">
                <%=incomeTotal[0].totalIncome.toLocaleString('en-US')%>
              </div>
            </div>
      <!--       Expense Amount Card -->
            <div class='card mx-1 flex-grow-1'><div class='card-title text-center fw-bold bg-danger text-light py-1'>Expense</div>
              <span id="expenseAmount" class="d-none"><%=expenseTotal[0].totalExpense%></span>
              <div class="card-body text-danger text-center p-1 fs-5">
                <%=expenseTotal[0].totalExpense.toLocaleString('en-US')%>
              </div>
                
            </div>
      <!--       Balance Amount Card -->
            <div class='card mx-1 flex-grow-1'><div class='card-title text-center fw-bold bg-dark text-light py-1'>Balance</div>
              <span id="balanceAmount" class="d-none"><%=balance%></span>
              <div class="card-body text-dark text-center p-1 fs-5">
                <%=balance.toLocaleString('en-US')%>
              </div>
                
            </div>
          </div>
      <!--     End of Amount Figures -->
          
      <!--     Start of Chart -->
          <div class="card mt-2 shadow d-none d-lg-block" style="height:22em;">
            <canvas id="myPieChart" class="align-items-center"></canvas>
          </div>
          
      <!--     End of Chart -->
        </div>
      <!--   End of 1st card -->
        
      <!--   Start of Second Card -->
        <div class="card p-3 shadow my-2 col-xs-12 col-sm-10 col-lg-6">
          <div class="card-content m-0 p-0">
                      <div class="card-title lead text-teal">Add Transaction</div>
                      <div class="card-body">
                          <form action="/addTransaction" method="POST">
                                <div class="form-group row">
                                  <label for="date" class="col-form-label col-sm-4">Date</label>
                                  <div class="col-sm-8">
                                    <input class="inputDate form-control" type="date" id="date" name="date"
                                      value="<%=new Date().getFullYear()%>-<%=('0'+ (new Date().getMonth()+1)).slice(-2)%>-<%=('0'+(new Date().getDate())).slice(-2)%>"
                                      required />
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type" class="col-form-label col-sm-4">Type</label>
                                    <div class="col-sm-8">
                                      <select id="type" name="type" class="form-control inputSelect">
                                        <option value="" disabled selected>--Select Item--</option>
                                        <option value="expense">Expense</option>
                                        <option value="income">Income</option>
                                        <option value="investment">Investment</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                  <label for="name" class="col-form-label col-sm-4">Name</label>
                                  <div class="col-sm-8">
                                    <input class="form-control" type="text" id="name" name="name" required />
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="amount" class="col-form-label col-sm-4">Amount</label>
                                  <div class="col-sm-8">
                                    <input class="form-control" type="number" id="amount" name="amount" required />
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="comments" class="col-form-label col-sm-4">Comments</label>
                                  <div class="col-sm-8">
                                    <input class="form-control" type="text" id="comments" name="comments" required />
                                  </div>
                                </div>
                                <div class="text-center">
                                  <button class="btn btn-info bg-teal" type="submit">Add Transaction</button>
                                </div>
                          </form>
                      </div>
                  </div>
        </div>  
      <!--   End of Second Card -->
          
      
        </div>
      <!--   End of both cards wrapper -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

   <div class="mt-5">
    <table id="table1" class="table table-striped m-0">
      <caption>Transactions</caption>  
      <%-include('./partials/table.ejs')%>
      </table>
   </div> 
</main>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const temp = parseInt(document.getElementById('incomeAmount').innerText)
    console.log(temp)
  const numericText = parseFloat(temp)
    console.log(numericText);

  const totalIncome = parseInt(document.getElementById('incomeAmount').innerText);
  const totalExpense = parseInt(document.getElementById('expenseAmount').innerText);
  const totalBalance = parseInt(document.getElementById('balanceAmount').innerText);
  
  const data = {
  
  labels: ['Income', 'Expenses', 'Balance'],
  datasets: [{
    data: [totalIncome,totalExpense,totalBalance],
    backgroundColor: ['#36A2EB', '#FF6384', '#FFCE56']
  }]
};
const ctx = document.getElementById('myPieChart').getContext('2d');
const myPieChart = new Chart(ctx, {
  type: 'pie',
  data: data
});
</script>

<%-include('./partials/footer.ejs')%>